{
	"name": "{{namespaceSnakeCase}}/postslist",
	"category": "common",
	"attributes": {
		"postsToShow": {
			"type": "number",
			"default": 6
		}
	},
	"supports": {
		"align": [ "wide", "full" ]
	}
}