/**
 * WordPress dependencies
 */
import { __ } from '@wordpress/i18n';

/**
 * Internal dependencies
 */
import metadata from './block.json';
import Edit from './edit';

/**
 * Style dependencies
 */
import './editor.scss';
import './style.scss';

/**
 * Block constants
 */
const { name, category, attributes, supports } = metadata;

const settings = {
	title: __( 'Posts List', '{{textdomain}}' ),
	description: __(
		'Display posts list with defined number of items to be shown.',
		'{{textdomain}}'
	),
	icon: 'excerpt-view',
	keywords: [
		__( 'posts', '{{textdomain}}' ),
		__( 'post', '{{textdomain}}' ),
		__( 'blog', '{{textdomain}}' ),
	],
	attributes,
	supports,
	edit: Edit,
	save() {
		return null;
	},
};
export { name, category, settings };
