body {

	.postslist-block {

		img {
			max-width: 100%;
		}

		.entry-header {
			padding: 0;
			background: transparent;

			h2 {
				font-size: 1.8em;
				margin: 0;
			}
		}

		.entry-meta {

			span {
				display: inline-block;
				margin-right: 5px;
				font-size: 0.8em;
			}
		}
	}
}
