{
  "name": "block-builder",
  "version": "1.0.0",
  "description": "A foundation for WordPress Gutenberg blocks plugin development that aims to provide clear and concise guide for building your first block plugin.",
  "main": "index.js",
  "scripts": {
    "build": "npm-run-all makepot build-assets",
    "build-assets": "wp-scripts build",
    "check-engines": "wp-scripts check-engines",
    "check-licenses": "wp-scripts check-licenses",
    "format:js": "wp-scripts format-js",
    "lint:css": "wp-scripts lint-style '**/*.scss'",
    "lint:css-fix": "wp-scripts lint-style '**/*.scss' --fix",
    "lint:js": "wp-scripts lint-js '**/*.js'",
    "lint:js-fix": "wp-scripts lint-js '**/*.js' --fix",
    "lint:pkg-json": "wp-scripts lint-pkg-json",
    "start": "wp-scripts start",
    "test:e2e": "wp-scripts test-e2e",
    "test:unit": "wp-scripts test-unit-js",
    "makepot": "wp i18n make-pot . languages/block-builder.pot --exclude=node_modules,vendor,build"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/phpbits/block-builder.git"
  },
  "keywords": [
    "gutenberg",
    "blocks",
    "WordPress",
    "tools"
  ],
  "author": "phpbits",
  "license": "GPL-2.0",
  "bugs": {
    "url": "https://github.com/phpbits/block-builder/issues"
  },
  "homepage": "https://github.com/phpbits/block-builder#readme",
  "devDependencies": {
    "@wordpress/editor": "^9.19.0",
    "@wordpress/i18n": "^3.14.0",
    "@wordpress/scripts": "^12.0.0",
    "browser-sync": "^2.26.7",
    "browser-sync-webpack-plugin": "^2.2.2",
    "classnames": "^2.2.6",
    "moment": "^2.27.0",
    "prettier": "npm:wp-prettier@^2.0.5",
    "stylelint-config-wordpress": "^17.0.0",
    "toml": "^3.0.0"
  }
}
