{
	"name": "{{namespace}}/container",
	"category": "design",
	"attributes": {
		"content": {
			"type": "string"
		}
	},
	"supports": {
		"align": [ "wide", "full" ],
		"anchor": true,
		"__experimentalColor": {
			"gradients": true,
			"linkColor": true
		}
	}
}
